@model Expenses.Data.Models.Expenses
@{
}
<form id="form-myExpenses" action="@Url.Action("Edit")" method="POST" enctype="multipart/form-data" class="formValidate col s12">
    <div class="row">
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                Edit
            </div>
        </nav>
        @Html.Partial("PartialForm", Model)
    </div>
</form>


