@model IEnumerable<Expenses.Data.Models.Expenses>
@{  Layout = null;
    ViewBag.Title = "Home Page";
}
<div class="row">
    <table id="data-table-row-grouping" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="Confirm" class="modal light-blue" style="width:20%">
    <h4>Delete</h4>
    <div class="modal-content" style="background-color:white">
        <p>Are you sure to Delete?</p>
    </div>
    <div class="modal-footer orange">
        <a href="#" class="waves-effect waves-green btn-flat" id="md1_YesBtn">Yes</a>
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('.modal').modal('close');">Cancel</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Confirm').modal();
        var oTable = $('#data-table-row-grouping').dataTable({
            "bServerSide": true,
            "paging": true,
            "iDisplayLength": 10,
            "aLengthMenu": [[10, 15, 25, 35, 50, 100, -1], [10, 15, 25, 35, 50, 100, "All"]],
            "sAjaxSource": "Expenses/AjaxHandler",
            "bProcessing": true,
            columnDefs: [
            { type: 'currency', targets: 2 }
            ],
            "aoColumns": [
                        null,
                        { "sType": "date" },
                        { "sType": "currency" },
                        null
            ],
            "rowCallback": function (row, data, index) {
                var onclick = 'onclick="document.getElementById(' + "'md1_YesBtn'" + ').setAttribute(' + "'data-Id'" + ',' + data[3] + ');"'
                var Edit = "@Url.Action("Edit", "Expenses")" + "/" + data[3];
                var Delete = "@Url.Action("Delete", "Expenses")" + "/" + data[3];
                $('td:eq(3)', row).html('<a href="' + Edit + '"><i class="Small material-icons">mode_edit</i></a>' +
                    '<a class="delete"' + onclick + '   data-Id=' + data[3] + ' href="#Confirm"><i class="Small material-icons">delete</i></a>');
            },
        });

        $('#md1_YesBtn').click(function () {
            var resourceUrl = '@Url.Action("Delete", "Expenses", new { area = "" })';
            $('#Confirm').modal('close');
            window.location = resourceUrl + "/" + $(this).attr("data-id");
        });
});
</script>


